<div class="d-flex align-items-center justify-content-center" style="height: 100vh; background-color: #f8f9fa;">
<div class="container text-center shadow p-5 bg-white rounded ">
        <h2 class="mb-4">Hey {{user}} Welcome To My Website.!</h2>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-primary btn-lg">Logout</button>
        </form>
    </div>
    </div>
